html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
i,
ul,
li,
form,
label,
article,
canvas,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

a img {
  border: none;
}

article,
footer,
header,
main,
nav,
section {
  display: block;
}

button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}
button:active {
  outline: none;
  box-shadow: none;
}

input {
  background: none;
  border: none;
}
input:focus {
  outline: none;
  box-shadow: none;
}
input:active {
  outline: none;
  box-shadow: none;
}

a {
  color: initial;
  text-decoration: none;
}

select:focus {
  outline: none;
  box-shadow: none;
}
select:active {
  outline: none;
  box-shadow: none;
}

@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular\ .woff2);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold\ .woff2);
}
@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.woff2);
}
@font-face {
  font-family: "Lato-Italic";
  src: url(../fonts/Lato-Italic.woff2);
}
@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.woff2);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.woff2);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.woff2);
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.woff2);
}
* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header .navBar {
  background-color: rgb(236, 235, 235);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0 50px;
}
header .navBar .navBarContainer {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
header .navBar .navBarContainer a {
  position: relative;
  font-family: "Lato-Bold";
}
header .navBar .navBarContainer .a-line {
  position: relative;
  font-family: "Lato-Bold";
}
header .navBar .navBarContainer .a-line:after {
  content: "";
  background: rgb(38, 34, 34);
  position: absolute;
  bottom: 0;
  right: -10px;
  height: 60%;
  width: 2px;
  height: 15px;
}
header .secondNavBar {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}
header .secondNavBar .secondNavSection {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
header .secondNavBar .secondNavSection a {
  font-family: "Lato-Bold";
}
header .secondNavBar .thirdNavSection {
  display: flex;
  justify-content: space-between;
  width: 18%;
  align-items: center;
}
header .secondNavBar .thirdNavSection form {
  background-color: rgb(236, 235, 235);
  width: 150px;
  border-radius: 30px;
  padding: 8px;
}
header .secondNavBar .thirdNavSection form .formContainer {
  display: flex;
}

.holiday-discount-section {
  height: 50px;
  padding: 10px;
  background-color: rgb(236, 235, 235);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-between;
}
.holiday-discount-section p span {
  text-decoration: underline;
  font-family: "Roboto-Bold";
}

.background-image-skiing {
  background-image: url(../images/skiing.jpeg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

.shopContainer {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  margin-top: 30px;
}
.shopContainer h2 {
  font-size: 60px;
  font-family: "Roboto-Bold";
  text-align: center;
}
.shopContainer p {
  text-align: center;
  font-family: "Lato-Bold";
  font-size: 20px;
}
.shopContainer .button-shop-container {
  text-align: center;
}
.shopContainer .button-shop-container .btn-shop {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  width: 60px;
  font-family: "Lato-Bold";
  font-size: 16px;
  height: 35px;
}
.shopContainer .button-shop-container .btn-shop-kids {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  font-family: "Lato-Bold";
  font-size: 16px;
  width: 90px;
  height: 35px;
}

.section {
  padding: 30px;
}
.section .header-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section .h2-latest-greatest {
  font-family: "Roboto-Bold";
  font-size: 25px;
  padding: 20px;
}
.section .buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.section .buttons-container button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 10px;
  cursor: pointer;
}
.section .buttons-container button:hover {
  color: #707072;
}
.section .buttons-container button:disabled {
  color: rgb(236, 235, 235);
}
.section .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 20px;
  overflow-x: hidden;
}
.section .gallery:hover {
  overflow-x: auto;
}
.section .gallery .card-container {
  display: grid;
  row-gap: 20px;
}
.section .gallery .card-container h2 {
  display: flex;
  font-size: 25px;
  font-family: "Roboto-Regular";
}

.h2-trending {
  font-family: "Roboto-Bold";
  font-size: 25px;
  padding: 20px;
}/*# sourceMappingURL=main.css.map */