
// OD TUKA IDE KODOT ZA SCSS KOJSTO NI TREBA
@use "sass:math";

//Functions for responsive mixins
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min !=0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - .02px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints)==null, '', '#{$name}');
}

// Responsive mixins

@mixin media-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {

    @media (min-width: $min) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-down($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $current: map-get($breakpoints, $name);
  $current-max: $current - .02px;

  @if $min {

    @media (max-width: $current-max) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin media-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);
  $current-upper: map-get($breakpoints, $upper);
  $current-upper-max: $current-upper - .02px;

  @if $min !=null {

    @media (min-width: $min) and (max-width: $current-upper-max) {
      @content;
    }
  }

  @else if $min==null {

    @include media-down($upper, $breakpoints) {
      @content;
    }
  }
}
//mixin screen sizes breakpoints
$grid-breakpoints: ("xs": 576px,
  "s": 768px,
  "m":992px,
  "l":1024px,
  "xl": 1280px,
);
//Reset
html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
i,
ul,
li,
form,
label,
article,
canvas,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

a img {
  border: none;
}

article,
footer,
header,
main,
nav,
section {
  display: block;
}

button {
  background: none;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

input {
  background: none;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}
a {
  color: initial;
  text-decoration: none;
}

select {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}



@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular\ .woff2);
  
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold\ .woff2);
}
@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.woff2);
}
@font-face {
  font-family: "Lato-Italic";
  src: url(../fonts/Lato-Italic.woff2);
}
@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto-Black.woff2);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.woff2);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.woff2);
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.woff2);
}


//VARIABLES
//FONTS
$font-lato-regular:"Lato-Regular";
$font-lato-bold:"Lato-Bold";
$font-lato-black:"Lato-Black";
$font-lato-italic:"Lato-Italic";
$font-roboto-regular:"Roboto-Regular";
$font-roboto-bold:"Roboto-Bold";
$font-roboto-black:"Roboto-Black";
$font-roboto-medium:"Roboto-Meidum";


//COLORS
$color-white:#fff;
$color-black:#000;
$color-dark-red:#9E3500;
$color-light-grey:#707072;
$color-black-heading:#111111;
$color-lightest-grey:rgb(236, 235, 235);


//FONT-SIZE
$font-extra-small:13px;
$font-small:16px;
$font-medium:20px;
$font-large:25px;


$font-extra-large:35px;
$font-heading:40px;
$font-smallest:10px;
$font-largest:60px;
//RESET

*{
  margin: 0;
  padding: 0;
}
* {box-sizing:border-box}

//BODY



//MAIN
//SECTION HEADER
header{
  .navBar{
    background-color: $color-lightest-grey;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 30px;
    padding: 0 50px;
  .navBarContainer{
    width: 25%;
    display: flex;
    justify-content: space-between;
    font-family: $font-lato-bold;
    a{
      position: relative;

   
    }
    .a-line{
      position: relative;

      &:after{
        content:""; 
        background: rgb(38, 34, 34); 
        position: absolute; 
        bottom: 0; 
        right: -20px;
        height: 60%; 
        width: 1.5px;
        height: 15px;
      }
    }
  }
  }
  .secondNavBar{
    margin: 20px 10%;
    display: flex;
    justify-content: space-between; 
    height:30px;
    align-items: center;

    .firstNavSection{
      width: 30%;
    }
    .secondNavSection{
      width: 30%;
      display: flex;
      justify-content: space-between; 
      a{
        font-family: $font-lato-bold;
        font-size: $font-small;
      }
    }
    .thirdNavSection{
      display: flex;
     justify-content: space-around;
      align-items: center;
      width: 30%;
        form{
          background-color: $color-lightest-grey;
          width: 170px;
          border-radius: 30px;
          padding: 8px;
          .formContainer{
            display: flex;
        }
      } 
    }
  
  }
}
.holiday-discount-section{

  padding: 10px;
  background-color: $color-lightest-grey;
 text-align: center;
 display: flex;
 flex-direction: column;
 height: 70px;
 justify-content: space-between;
 h2{
  font-family: $font-lato-regular;
  font-size: 18px;
  font-weight:600;
 }
 p{
  font-family: $font-lato-regular;
  font-weight: 500;
  span{
    text-decoration: underline;
    font-family: $font-roboto-bold;
  }
 }

}
.background-image-skiing{

  background-image: url(../images/skiing.jpeg);
  background-size: cover;
  width: 100%;
  height: 570px;
}
.shopContainer{
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: space-between;
  margin-top: 30px;
  h2{
    font-size:90px;
    font-family: $font-roboto-black;
    text-align: center;
    font-weight: 600;
  }
  p{
    text-align: center;
    font-family: $font-lato-bold;
    font-size: 20px;
  }
  .button-shop-container{

    text-align: center;
    .btn-shop{
      background-color: $color-black;
      color: $color-white;
      border-radius: 15px;
      width: 60px;
      font-family: $font-lato-bold;
      font-size: $font-small;
      height: 35px;
    }
    .btn-shop-kids{
      background-color: $color-black;
      color: $color-white;
      border-radius: 15px;
      font-family: $font-lato-bold;
      font-size: $font-small;
      width: 90px;
      height: 35px;
    }
  }
}

  
//Section Latest & Greatest
.section{
  padding: 30px;
  height: 700px;
  .header-buttons-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  .h2-latest-greatest{
   font-family: $font-roboto-bold;
   font-size: $font-large;
   padding: 20px;
  }
  .buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100px;
    .btn{
     display: flex;
     align-items: center;
     cursor: pointer;
     border-radius: 50%;
     &:hover{
      color: $color-light-grey;
     }
     &:disabled{
      color: $color-lightest-grey;
     }
    }
  }
  .gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    padding: 10px 20px;
    overflow-x: hidden;
    border: none;
    &:hover{
      overflow-x: auto;
    }
     
  .card-container{
    display: grid;
    row-gap: 20px;
    h2{
      display: flex;
      font-size: $font-medium;
      font-family: $font-roboto-regular;
    }
  }
}

}
//Third section Shop Our Icons - Elena
.shopping-section{
  height: 600px;
  padding: 0 30px;
  .btns-container{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    .scroll-btn-circle{
      background-color: #dce2e2; 
      color: #fff;
      border: none;
      border-radius: 50%;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      margin: 0 10px; 
    
    }
    .scroll-btn{
      text-align: right;
    }
    .h2-shopOurIcons{
      padding: 30px;
      font-family: $font-roboto-bold;
   font-size: $font-medium;
    }
  }
  .sneakers-gallery{
    overflow-x: hidden; 
    white-space: nowrap; 
    scroll-behavior: smooth; 
    padding: 20px;
  
    :-webkit-scrollbar{
      height: 15px;
  
    }
    :-webkit-scrollbar-thumb{
      background-color: #666969; 
    }
    .second-gallery{
      display: inline-flex; 
      gap: 20px;
      .img-btn-container{
        position: relative;
        display: inline-block;
   
        img{
          display: block;  
        }
        .btn-sneakers-type{
          background-color: rgb(202, 195, 195);
          color: $color-black;
          position: absolute;
          top: 340px;
          left: 50px;
          border-radius: 20px;
          padding: 10px 20px;
          font-family: $font-lato-black;
          font-size: 18px;
      
        }
        
      }
    }
    &:hover{
      overflow-x: auto;
    }
 
    }   
}

// FOURTH SECTION TRENDING THIS WEEK

  .h2-trending{
   font-family: $font-roboto-bold;
   font-size: $font-large;
   padding: 20px;
  }
 .h2-grey{
  color: $color-light-grey;
  font-size: $font-small;
  margin: 5px 0 15px;
 }
 .p-card{
  color: $color-black;
  font-size: $font-medium;
  font-weight: bold;
 }


//FOOTER - Elena
footer{
  .footer-container{
    display: flex;
    justify-content: space-between;
    margin:30px;
    .footer-section{
      width: 60%;
      display: flex;
      justify-content: space-between;
      .first-footer-section{
        display: flex;
        flex-direction: column;
        gap: 30px;
      //  gap: 20px;
      .footer-elements{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .heading-container{
        h2{
          font-family: $font-lato-black;
          font-size: $font-small;
        }
      }
      .footer-elements{
        font-family: $font-lato-regular;
        font-size: $font-small;
        color: rgb(97, 89, 89);
      }
      }
    }
    .last-footer-section{
      font-family: $font-lato-regular;
        font-size: $font-small;
        color: $color-light-grey;
    }
  }
  .sub-footer{
    margin:50px 30px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-family: $font-lato-regular;
    font-size: $font-small;
    color: $color-light-grey;
  }
}

